boto3
coverage
docker-compose
flake8==3.7.7
Flask==1.1.1
mock
pytest
pytest-cov
pytest-rerunfailures
pytest-xdist
PyYAML
protobuf>=3.20,<=3.20.2
sagemaker>=2,<3
six
requests
requests_mock
Pillow
retrying==1.3.3
urllib3==1.26.0
pluggy==0.13.1
requests_mock
sagemaker-inference
tenacity
fabric
invoke
gitpython
toml
transformers==4.30.0
