docker==4.2.0
fabric==2.5.0
junit-xml==1.9
packaging==20.1
pytest
pytest-rerunfailures
pytest-timeout
pytest-json-report
pytest-xdist==3.2.0
sagemaker>=2,<3
xmltodict
boto3
retrying
gitpython
pytz
toml
scrapy
crochet
tenacity
