boto3
docker
fabric
invoke
junit-xml==1.9
packaging
# Pin pytest to preserve pytest cache behavior
pytest<8.1
pytest-rerunfailures
pytest-timeout
pytest-json-report
pytest-xdist
sagemaker>=2,<3
xmltodict
retrying
gitpython
pytz
toml
lxml==5.3.1
scrapy
crochet
tenacity
requests
