docker
fabric
junit-xml==1.9
packaging==20.1
pytest
pytest-rerunfailures
pytest-timeout
pytest-json-report
pytest-xdist
sagemaker>=2,<3
xmltodict
boto3
retrying
gitpython
pytz
toml
scrapy
crochet
tenacity
