botocore>1.0,<2.0
boto3>1.0,<2.0
awscli>=1.27.51
protobuf
sagemaker>=2.180.0
coverage
docker-compose
flake8==3.7.7
Flask==1.1.1
mock==2.0.0
pytest
pytest-cov
pytest-rerunfailures
pytest-xdist
PyYAML
requests
tox
requests_mock
fabric
invoke
retrying
tenacity
gitpython
toml
