awscli>=1.27.51
boto3>1.0,<2.0
botocore>1.0,<2.0
coverage
fabric
flake8==3.7.7
Flask==1.1.1
gitpython
invoke
mock==2.0.0
protobuf
# Preserve pytest caching behavior in earlier versions
pytest<8.1
pytest-cov
pytest-rerunfailures
pytest-xdist
PyYAML
requests
requests_mock
retrying
sagemaker>=2.180.0
tenacity
toml
tox
