botocore>1.0,<2.0
boto3>1.0,<2.0
awscli<2
protobuf>=3.20,<3.21
sagemaker
coverage==4.5.3
docker-compose
flake8==3.7.7
Flask==1.1.1
mock==2.0.0
pytest-cov
pytest-rerunfailures
pytest-xdist==1.28.0
PyYAML==5.4
requests==2.24
tox==3.7.0
requests_mock==1.6.0
fabric
retrying
gitpython
toml
