# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @dl-containers will be requested for
# review when someone opens a pull request.
*       @aws/dl-containers

# Any modification to sagemaker_tests will require review from SageMaker MLF team
sagemaker_tests/ @aws/sagemaker-ml-frameworks

# Any files modified under tensorflow/ or tensorflow_serving/ will be assigned to the tf reviewer team
tensorflow/ @aws/dlc-tf-reviewers
tensorflow_serving/ @aws/dlc-tf-reviewers

# Any PR with testTF* or testTensor* file change will be assigned to the tf reviewer team
testTF* @aws/dlc-tf-reviewers
testTensor* @aws/dlc-tf-reviewers
huggingface_tensorflow/ @aws/dlc-tf-reviewers

# Any files modified under pytorch/ or pytorch_tests/ dir will require review from pytorch reviewer team
pytorch/ @aws/dlc-pytorch-reviewers
pytorch_tests/ @aws/dlc-pytorch-reviewers
huggingface_pytorch/ @aws/dlc-pytorch-reviewers

# Any files modified under mxnet/ dir will require review from the mxnet reviewer team
mxnet/ @aws/dlc-mxnet-reviewers

# Any PR with a file with "smdebug" in it will be assigned to the smdebug reviewer team
*smdebug* @aws/dlc-smdebug-reviewers

# Any PR with a file with "neuron" in it will be assigned to the neuron reviewer team
*neuron* @aws/dlc-neuron-reviewers

# Any PR with a file with "eia" in it will be assigned to the EI reviewer team
*eia* @aws/dlc-eia-reviewers

# Any file under dgl_tests dir will require review from DGL team
dgl_tests/ @aws/dlc-dgl-reviewers
