# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @dl-containers

# TF tests and builds
tensorflow/ @dlc-tf-reviewers
tensorflow_serving/ @dlc-tf-reviewers
testTF* @dlc-tf-reviewers
testTensor* @dlc-tf-reviewers

# PT tests and builds
pytorch/ @dlc-pytorch-reviewers
pytorch_tests/ @dlc-pytorch-reviewers

# MXNet tests and builds
mxnet/ @dlc-mxnet-reviewers

# SMDebug
*smdebug* @dlc-smdebug-reviewers

# Neuron
*neuron* @dlc-neuron-reviewers

# Elastic Inference
*eia* @dlc-eia-reviewers

# DGL
dgl_tests/ @dlc-dgl-reviewers

# Sagemaker
sagemaker_tests/ @sagemaker-ml-frameworks
