default_install_hook_types:
  - pre-commit
  - commit-msg

default_stages:
  - pre-commit
  - manual

repos:
  # ---------------------------------------------------------------------------- #
  #                               Pre-Commit Hooks                             #
  # ---------------------------------------------------------------------------- #

  ### Pre-commit First-Party Tools
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
  # -------------------------------  Git Tools ------------------------------- #
    - id: check-merge-conflict
      name: " git 路 Detect conflict markers"
    - id: forbid-new-submodules
      name: " git 路 Prevent submodule creation"
    - id: no-commit-to-branch
      name: " git 路 Protect main branches"
      args: ["--branch", "main", "--branch", "master"]
    - id: check-added-large-files
      name: " git 路 Block large file commits"
      args: ["--maxkb=5000"]
  # ----------------------------  Filesystem Tools --------------------------- #
    - id: check-executables-have-shebangs
      name: " filesystem/锔 exec 路 Verify shebang presence"
    - id: check-shebang-scripts-are-executable
      name: " filesystem/锔 exec 路 Verify script permissions"
    - id: check-symlinks
      name: " filesystem/ symlink 路 Check symlink validity"
    - id: destroyed-symlinks
      name: " filesystem/ symlink 路 Detect broken symlinks"
    - id: requirements-txt-fixer
      name: " filesystem/ file 路 Validate requirements.txt"
    - id: trailing-whitespace
      name: " filesystem/ file 路 Validate empty whitespaces"
  # -----------------------------  Security Tools ---------------------------- #
    - id: check-json
      name: " filesystem/ config 路 Validate JSON file"
    - id: check-yaml
      name: " filesystem/ config 路 Validate YAML file"
    - id: detect-aws-credentials
      name: " security 路 Detect aws credentials"
      args:
        - --allow-missing-credentials
    - id: detect-private-key
      name: " security 路 Detect private keys"


  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.29.0
    hooks:
    - id: gitleaks
      name: " security 路 Detect hardcoded secrets"

  # ---------------------------  Code Quality Tools -------------------------- #

  ### Writing Tools ###
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      name: "锔 typos 路 Checking typos"
      args: [--force-exclude]


  ### Python Tools ###
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
    - id: ruff-format
      name: " python 路 Format python"
    - id: ruff-check
      name: " python 路 Lint python"


  ### Workflow Validation ###
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.35.0
    hooks:
    - id: check-github-workflows
      name: " github-actions 路 Validate gh workflow files"
      args: ["--verbose"]

  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        name: " python 路 Sort python packages"

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
    - id: actionlint
      name: " github-actions 路 Lint gh workflow files"
      args: ["-shellcheck=enable=all"]


  ### Markdown ###
  - repo: https://github.com/hukkin/mdformat
    rev: 1.0.0
    hooks:
    - id: mdformat
      name: " markdown 路 Format markdown"
      additional_dependencies:
      - mdformat-gfm
      - mdformat-ruff
      - ruff

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
    - id: markdownlint
      name: " markdown 路 Lint markdown"
      args: [--fix]


  ### Docker Tools ###
  - repo: https://github.com/reteps/dockerfmt
    rev: v0.3.9
    hooks:
    - id: dockerfmt
      name: " docker 路 Format docker"
      args:
        - --indent=2
        - --write


  ### Shell ###
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2 # Use the latest stable revision
    hooks:
    - id: shfmt
      name: " shell 路 Format shell scripts"
      args: ["-s"]


  # --------------------------- 锔 Git Commit Quality -------------------------- #

  ### Commit Message Standards ###
  - repo: local
    hooks:
    - id: signoff-commit
      name: Sign-off Commit
      entry: bash
      args:
        - -c
        - |
          if ! grep -q "^Signed-off-by: $(git config user.name) <$(git config user.email)>" "$(git rev-parse --git-path COMMIT_EDITMSG)"; then
            printf "\nSigned-off-by: $(git config user.name) <$(git config user.email)>\n" >> "$(git rev-parse --git-path COMMIT_EDITMSG)"
          fi
      language: system
      verbose: true
      stages: [commit-msg]
