[dev]
# Set to "huggingface", for example, if you are a huggingface developer
partner_developer = ""
# Please only set it to True if you are preparing an EI related PR
# Do remember to revert it back to False before merging any PR (including EI dedicated PR)
ei_mode = false
# Please only set it to True if you are preparing an NEURON related PR
# Do remember to revert it back to False before merging any PR (including NEURON dedicated PR)
neuron_mode = false
benchmark_mode = false

[build]
# Frameworks for which you want to disable both builds and tests
skip_frameworks = []
# Set to false in order to remove datetime tag on PR builds
datetime_tag = true
# Note: Need to build the images at least once with datetime_tag = false
# before disabling new builds, or tests will fail
do_build = true

[test]
efa_tests = true
sanity_tests = true
sagemaker_tests = true
ecs_tests = true
eks_tests = true
ec2_tests = true
use_scheduler = false
