[dev]
partner_developer = ""
ei_mode = false
neuron_mode = false
neuronx_mode = false
graviton_mode = false
arm64_mode = false
habana_mode = false
huggingface_trcomp_mode = false
trcomp_mode = false
deep_canary_mode = false

[build]
build_frameworks = [ "huggingface_pytorch",]
build_training = false
build_inference = true
do_build = true

[notify]
notify_test_failures = false
notification_severity = "medium"

[test]
sanity_tests = true
security_tests = false
safety_check_test = false
ecr_scan_allowlist_feature = false
ecs_tests = false
eks_tests = false
ec2_tests = false
ec2_benchmark_tests = false
ec2_tests_on_heavy_instances = false
sagemaker_local_tests = false
sagemaker_remote_tests = false
sagemaker_efa_tests = false
sagemaker_rc_tests = false
sagemaker_benchmark_tests = false
sagemaker_remote_efa_instance_type = ""
nightly_pr_test_mode = false
use_scheduler = false

[buildspec_override]
dlc-pr-pytorch-training = ""
dlc-pr-tensorflow-2-training = ""
dlc-pr-autogluon-training = ""
dlc-pr-huggingface-tensorflow-training = ""
dlc-pr-huggingface-pytorch-training = ""
dlc-pr-huggingface-pytorch-trcomp-training = ""
dlc-pr-huggingface-tensorflow-2-trcomp-training = ""
dlc-pr-pytorch-trcomp-training = ""
dlc-pr-pytorch-neuron-training = ""
dlc-pr-tensorflow-2-neuron-training = ""
dlc-pr-stabilityai-pytorch-training = ""
dlc-pr-pytorch-habana-training = ""
dlc-pr-tensorflow-2-habana-training = ""
dlc-pr-pytorch-inference = ""
dlc-pr-tensorflow-2-inference = ""
dlc-pr-autogluon-inference = ""
dlc-pr-pytorch-neuron-inference = ""
dlc-pr-tensorflow-1-neuron-inference = ""
dlc-pr-tensorflow-2-neuron-inference = ""
dlc-pr-huggingface-tensorflow-inference = ""
dlc-pr-huggingface-pytorch-inference = "huggingface/pytorch/inference/buildspec.yml"
dlc-pr-huggingface-pytorch-neuron-inference = ""
dlc-pr-stabilityai-pytorch-inference = ""
dlc-pr-pytorch-graviton-inference = ""
dlc-pr-tensorflow-2-graviton-inference = ""
dlc-pr-pytorch-arm64-inference = ""
dlc-pr-tensorflow-2-arm64-inference = ""
dlc-pr-pytorch-eia-inference = ""
dlc-pr-tensorflow-2-eia-inference = ""

