[dev]
# Set to "huggingface", for example, if you are a huggingface developer. Default is ""
partner_developer = ""
# Please only set it to true if you are preparing an EI related PR
# Do remember to revert it back to false before merging any PR (including EI dedicated PR)
ei_mode = false
# Please only set it to true if you are preparing a NEURON related PR
# Do remember to revert it back to false before merging any PR (including NEURON dedicated PR)
neuron_mode = false
# Please only set it to True if you are preparing a Benchmark related PR
# Do remember to revert it back to False before merging any PR (including Benchmark dedicated PR)
benchmark_mode = true

[build]
# Frameworks for which you want to disable both builds and tests
skip_frameworks = ["huggingface_pytorch", "huggingface_tensorflow"]
# Set to false in order to remove datetime tag on PR builds
datetime_tag = false
# Note: Need to build the images at least once with datetime_tag = false
# before disabling new builds, or tests will fail
do_build = true

[test]
efa_tests = false
sanity_tests = false
sagemaker_tests = false
ecs_tests = false
eks_tests = true
ec2_tests = true
use_scheduler = false
