[dev]
# Set to "huggingface", for example, if you are a huggingface developer. Default is ""
partner_developer = ""
# Please only set it to true if you are preparing an EI related PR
# Do remember to revert it back to false before merging any PR (including EI dedicated PR)
ei_mode = false
# Please only set it to true if you are preparing a NEURON related PR
# Do remember to revert it back to false before merging any PR (including NEURON dedicated PR)
neuron_mode = false
# Please only set it to true if you are preparing a GRAVITON related PR
# Do remember to revert it back to false before merging any PR (including GRAVITON dedicated PR)
graviton_mode = false
# Please only set it to True if you are preparing a HABANA related PR
# Do remember to revert it back to False before merging any PR (including HABANA dedicated PR)
habana_mode = false
# Please only set it to True if you are preparing a Benchmark related PR
# Do remember to revert it back to False before merging any PR (including Benchmark dedicated PR)
benchmark_mode = false

[build]
# Frameworks for which you want to disable both builds and tests
# available frameworks - ["autogluon", "huggingface_tensorflow", "huggingface_pytorch", "tensorflow", "mxnet", "pytorch"]
skip_frameworks = ["autogluon", "huggingface_tensorflow", "huggingface_pytorch", "mxnet", "pytorch"]
# Set to false in order to remove datetime tag on PR builds
datetime_tag = false
# Note: Need to build the images at least once with datetime_tag = false
# before disabling new builds, or tests will fail
do_build = true

[test]
### On by default
sanity_tests = true
  safety_check_test = false
  ecr_scan_allowlist_feature = false
ecs_tests = true
eks_tests = true
ec2_tests = true

### SM specific tests
### Off by default
sagemaker_local_tests = true

# SM remote test valid values:
# "off" --> do not trigger sagemaker remote tests (default)
# "standard" --> run standard sagemaker remote tests from test/sagemaker_tests
# "rc" --> run release_candidate_integration tests
# "efa" --> run efa sagemaker tests
sagemaker_remote_tests = "true"

use_scheduler = false
