boto3
coverage
# Docker v7.0.0 breaks compatibility with Docker Compose v1 (SageMaker Local)
docker>=5,<=6.1.3
flake8==3.7.7
Flask==1.1.1
mock
pytest==8.3.5
pytest-cov
pytest-rerunfailures
pytest-xdist
PyYAML
protobuf>=3.20,<=3.20.2
sagemaker>=2.237.0,<3
six
requests<2.32.0
requests_mock
Pillow
retrying==1.3.3
urllib3>=1.26.8
pluggy>=1.5,<2
requests_mock
sagemaker-inference
tenacity
fabric
invoke
gitpython
toml
huggingface_hub