/* ==========================================================================
   AWS Color Palette
   ========================================================================== */

:root {
  --aws-white:           #ffffff;
  --aws-paper:           #f1f3f3;
  --aws-stone:           #d4dada;
  --aws-squid-ink:       #232f32;
  --aws-dark-squid-ink:  #161d26;
  --aws-anchor:          #003181;
  --aws-sky:             #2074d5;
  --aws-smile:           #ff9900;
  --aws-rind:            #fbd8bf;

  --lightmode-text: var(--aws-dark-squid-ink);
  --darkmode-text: var(--aws-white);
}

/* ==========================================================================
   Common Elements
   ========================================================================== */

/* Hyperlinks */
.md-content a {
  color: var(--aws-smile);
}
.md-content a:hover {
  color: var(--aws-rind);
}

/* TOC active link */
.md-nav__link--active {
  color: var(--aws-sky) !important;
}

/* Table Horizontal Scroll */
.md-typeset table:not([class]) {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}


/* ==========================================================================
   Light Mode
   ========================================================================== */

/* Theme colors */
[data-md-color-scheme="default"] {
  --md-primary-fg-color: var(--aws-stone);
  --md-accent-fg-color: var(--aws-smile);
}

/* Header, tabs, and search text/icons */
.md-tabs__link,
.md-header__title,
.md-search__input::placeholder,
.md-header__button,
.md-source__repository,
.md-search__icon,
.md-header__button svg,
.md-source__icon svg {
  color: var(--lightmode-text) !important;
  fill: var(--lightmode-text) !important;
}

/* Search input text */
.md-search__input {
  color: var(--lightmode-text) !important;
}

/* Header logo */
[data-md-color-scheme="default"] .md-header__button.md-logo img,
[data-md-color-scheme="default"] .md-header__button.md-logo svg {
  content: url('../../assets/logos/AWS_logo_RGB.svg');
}



/* ==========================================================================
   Dark Mode
   ========================================================================== */

/* Theme colors */
[data-md-color-scheme="slate"] {
  --md-primary-fg-color: var(--aws-dark-squid-ink);
  --md-accent-fg-color: var(--aws-smile);
}

/* Header, tabs, and search text/icons */
[data-md-color-scheme="slate"] .md-tabs__link,
[data-md-color-scheme="slate"] .md-header__title,
[data-md-color-scheme="slate"] .md-search__input::placeholder,
[data-md-color-scheme="slate"] .md-header__button,
[data-md-color-scheme="slate"] .md-source__repository,
[data-md-color-scheme="slate"] .md-search__icon,
[data-md-color-scheme="slate"] .md-header__button svg,
[data-md-color-scheme="slate"] .md-source__icon svg {
  color: var(--darkmode-text) !important;
  fill: var(--darkmode-text) !important;
}

/* Search input text */
[data-md-color-scheme="slate"] .md-search__input {
  color: var(--darkmode-text) !important;
}

/* Header logo */
[data-md-color-scheme="slate"] .md-header__button.md-logo img,
[data-md-color-scheme="slate"] .md-header__button.md-logo svg {
  content: url('../../assets/logos/AWS_logo_RGB_REV.svg');
}
