boto3
sagemaker>=2.180.0,<=2.254.1
# Preserve pytest caching behavior in earlier versions
pytest<8.1
pytest-rerunfailures
pytest-timeout
pytest-xdist
requests
fabric
invoke
retrying
tenacity
gitpython
toml
packaging
