botocore>1.0,<2.0
boto3>1.0,<2.0
awscli>=1.27.51
protobuf
sagemaker==2.152.0
coverage==4.5.3
docker-compose
flake8==3.7.7
Flask==1.1.1
mock==2.0.0
pytest
pytest-cov
pytest-rerunfailures
pytest-xdist
PyYAML
requests
tox
requests_mock
fabric
#unpin when fabric releases v3.1 Related Issue https://github.com/fabric/fabric/issues/2263
invoke<2.1.0
retrying
tenacity
gitpython
toml
