tox
pluggy>=0.12
flake8
pytest==4.5.0
pytest-cov==2.9.0
pytest-rerunfailures==8.0
pytest-xdist
mock
sagemaker
docker-compose
boto3>=1.14.8
six==1.15.0
python-dateutil>=2.1,<2.8.1
botocore>=1.17.8
awscli
requests_mock==1.7.0