tox
pluggy
flake8
pytest==5.3.5
pytest-cov
pytest-rerunfailures==9.0
pytest-xdist
mock
sagemaker
docker-compose
boto3
six==1.13.0
python-dateutil>=2.1,<2.8.1
botocore
awscli
requests_mock==1.7.0
invoke