:root {
    --darkmode-text:  #232f3e;
    --lightmode-text: #f5f5f5;
    --aws-orange:     #ff9900;
}

/* Light mode - AWS dark navy */
.md-tabs__link,
.md-header__title,
.md-search__input::placeholder,
.md-header__button,
.md-source__repository,
.md-search__icon,
.md-header__button svg,
.md-source__icon svg {
  color: var(--darkmode-text) !important;
  fill: var(--darkmode-text) !important;
}
.md-tabs__link--active {
  color: var(--aws-orange) !important;
}
.md-search__input {
  color: var(--darkmode-text) !important;
}

/* Dark mode - light text */
[data-md-color-scheme="slate"] .md-tabs__link,
[data-md-color-scheme="slate"] .md-header__title,
[data-md-color-scheme="slate"] .md-search__input::placeholder,
[data-md-color-scheme="slate"] .md-header__button,
[data-md-color-scheme="slate"] .md-source__repository,
[data-md-color-scheme="slate"] .md-search__icon,
[data-md-color-scheme="slate"] .md-header__button svg,
[data-md-color-scheme="slate"] .md-source__icon svg {
  color: var(--lightmode-text) !important;
  fill: var(--lightmode-text) !important;
}
[data-md-color-scheme="slate"] .md-tabs__link--active {
  color: var(--aws-orange) !important;
}
[data-md-color-scheme="slate"] .md-search__input {
  color: var(--lightmode-text) !important;
}
