botocore>=1.23.1
boto3
junit-xml
sagemaker>=2,<3
sagemaker-experiments
numpy
scipy
scikit-learn
pandas
Pillow
h5py
flake8
pytest
pytest-cov
pytest-rerunfailures
pytest-xdist
requests
mock
six
python-dateutil>=2.1,<2.8.1
requests-mock
# test pipemode fails for 2.x containers with module 'tensorflow' has no attribute 'train'
# without the below package
tensorflow==2.11.1
fabric
invoke
retrying==1.3.3
tenacity
gitpython
toml
