botocore>=1.23.1
boto3
awscli
junit-xml
sagemaker>=2.31,<3
smdebug>=1
sagemaker-experiments
numpy
scipy
scikit-learn
pandas
Pillow
h5py
tox
flake8
pytest==5.3.5
pytest-cov
pytest-rerunfailures==9.0
pytest-xdist==1.34.0
requests==2.26.0
mock
docker-compose
six==1.15.0
python-dateutil>=2.1,<2.8.1
requests-mock
# test pipemode fails for 2.x containers with module 'tensorflow' has no attribute 'train'
# without the below package
tensorflow==2.11.1
fabric==2.5.0
#unpin when fabric releases v3.1 Related Issue https://github.com/fabric/fabric/issues/2263
invoke<2.1.0
retrying==1.3.3
tenacity
gitpython
toml
