wheel==0.44.0
docker==4.2.0
fabric==2.5.0
#unpin when fabric releases v3.1 Related Issue https://github.com/fabric/fabric/issues/2263
invoke<2.1.0
pyfiglet==0.8.post1
reprint==0.5.2
ruamel.yaml==0.18.6
boto3>=1.33
black==24.10.0
junit-xml==1.9
toml==0.10.2
retrying
