numpy
scipy
sklearn
pandas
Pillow
h5py
tox
flake8
pytest
pytest-cov
pytest-rerunfailures==9.0
pytest-xdist
mock
sagemaker
docker-compose
boto3
six==1.13.0
python-dateutil>=2.1,<2.8.1
botocore
requests-mock
# test pipemode fails for 2.x containers with module 'tensorflow' has no attribute 'train'
# without the below package
tensorflow
awscli
fabric==2.5.0
retrying==1.3.3
