--extra-index-url https://download.pytorch.org/whl/cu128
accelerate==1.12.0
av==16.1.0
awslambdaric==3.1.1
boto3==1.40.4
diffusers==0.36.0
librosa==0.11.0
numpy==2.4.2
opencv-python-headless==4.13.0.92
pillow==12.1.1
pip==25.3
pip-licenses==5.5.1
requests==2.32.5
safetensors==0.7.0
sam-2 @ git+https://github.com/facebookresearch/segment-anything-2.git@2b90b9f5ceec907a1c18123530e92e794ad901a4
scipy==1.17.1
setuptools==78.1.1
soundfile==0.13.1
torch==2.10.0
torchaudio==2.10.0
torchvision==0.25.0
transformers==5.2.0
urllib3==2.6.3
