sagemaker-containers>=2.6.2
numpy
scipy
sklearn
pandas
Pillow
h5py
tox
flake8
pytest==5.3.5
pytest-cov
pytest-rerunfailures==9.0
pytest-xdist
mock
sagemaker
docker-compose
boto3
six==1.13.0
python-dateutil>=2.1,<2.8.1
botocore
requests-mock
awscli
fabric==2.5.0
sagemaker-experiments==0.1.7
