boto3==1.17.52
botocore==1.20.52
certifi==2023.7.22
cryptography==45.0.5
cuda-python==12.6.0
dask-cuda==24.12.00
dask[dataframe]==2024.11.2
Flask==1.1.1
gevent==23.9.1
gunicorn==23.0.0
itsdangerous==2.0.1
jinja2==2.11.3
MarkupSafe==1.1.1
matplotlib==3.9.2
multi-model-server==1.1.2
numba==0.61.0
numpy==2.1.0
pandas==2.2.3
Pillow==9.1.1
psutil==5.8.0
pynvml==11.4.1
python-dateutil==2.8.2
PyYAML==6.0.1
requests==2.32.3
retrying==1.3.3
sagemaker-containers==2.8.6.post2
sagemaker-inference==1.5.5
scikit-learn==1.5.2
scipy==1.15.0
setuptools<81
urllib3==1.26.5
Werkzeug==0.15.6
wheel==0.45.1