name: ruff

on: 
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  python-formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/ruff-action@v3
      - run: ruff check --line-length 100 .