{   
    "operation": "create", # supports "create", "upgrade_cluster", "upgrade_nodegroup", "delete"
    "contexts":[
        "PR"               # supports "PR", "MAINLINE", "NIGHTLY"
    ],
    "eks_clusters":[
        "mxnet"            # supports "tensorflow", "pytorch", "mxnet"
    ],
    "eks_version": "1.20", # EKS version
    "cluster_autoscalar_image_version": "v1.20.0" # docker image version compatible with eks version. Refer: https://github.com/kubernetes/autoscaler/releases
}